NRDHT.txt
[{"id":"ee7c55d4.f04898","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fd759091.e0b74","type":"mqtt in","z":"ee7c55d4.f04898","name":"Temp 1","topic":"esp1/dht/temperature","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":80,"wires":[["e6c77865.702a38"]]},{"id":"392aca2d.92c6b6","type":"mqtt in","z":"ee7c55d4.f04898","name":"Temp 3","topic":"esp3/dht/temperature","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":160,"wires":[["2854c154.b45c0e"]]},{"id":"e7c3e847.51ddc8","type":"mqtt in","z":"ee7c55d4.f04898","name":"Temp 2","topic":"esp2/dht/temperature","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":120,"wires":[["c40c98cf.37d398"]]},{"id":"112f51a0.7b0a1e","type":"mqtt in","z":"ee7c55d4.f04898","name":"Hum 1","topic":"esp1/dht/humidity","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":200,"wires":[["79ceb12b.b36e7"]]},{"id":"d8d1ce5c.a1481","type":"mqtt in","z":"ee7c55d4.f04898","name":"Hum 2","topic":"esp2/dht/humidity","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":240,"wires":[["1e3662a0.3a3dfd"]]},{"id":"d97ad021.2edb8","type":"mqtt in","z":"ee7c55d4.f04898","name":"Hum 3","topic":"esp3/dht/humidity","qos":"0","datatype":"auto","broker":"29a696e0.25dafa","x":110,"y":280,"wires":[["caa89b5a.d64d88"]]},{"id":"e6c77865.702a38","type":"function","z":"ee7c55d4.f04898","name":"T1","func":"\n//Makes a variable for the flow called Temp1\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp1',msg.payload);\nmsg.payload = \"Temp 1 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":80,"wires":[["28d74635.9bee1a"]]},{"id":"c40c98cf.37d398","type":"function","z":"ee7c55d4.f04898","name":"T2","func":"\n//Makes a variable for the flow called Temp2\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp2',msg.payload);\nmsg.payload = \"Temp 2 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["28d74635.9bee1a"]]},{"id":"2854c154.b45c0e","type":"function","z":"ee7c55d4.f04898","name":"T3","func":"\n//Makes a variable for the flow called Temp3\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp3',msg.payload);\nmsg.payload = \"Temp 3 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["28d74635.9bee1a"]]},{"id":"79ceb12b.b36e7","type":"function","z":"ee7c55d4.f04898","name":"H1","func":"\n//Makes a variable for the flow called Hum1\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum1',msg.payload);\nmsg.payload = \"Hum 1 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":200,"wires":[["28d74635.9bee1a"]]},{"id":"1e3662a0.3a3dfd","type":"function","z":"ee7c55d4.f04898","name":"H2","func":"\n//Makes a variable for the flow called Hum2\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum2',msg.payload);\nmsg.payload = \"Hum 2 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":240,"wires":[["28d74635.9bee1a"]]},{"id":"caa89b5a.d64d88","type":"function","z":"ee7c55d4.f04898","name":"H3","func":"\n//Makes a variable for the flow called Hum3\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum3',msg.payload);\nmsg.payload = \"Hum 3 Updated:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["28d74635.9bee1a"]]},{"id":"2c5fa6df.f3600a","type":"inject","z":"ee7c55d4.f04898","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":400,"wires":[["67618b7.843b274","853a738.c5ce09","af59a0e9.49862","37ea0322.88c49c","98cd7001.6471c","1017677f.507069"]]},{"id":"28d74635.9bee1a","type":"debug","z":"ee7c55d4.f04898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":80,"wires":[]},{"id":"67618b7.843b274","type":"function","z":"ee7c55d4.f04898","name":"RT1","func":"\n//Takes a flow variable and prints it out for testing\n\nmsg.payload = \"DEBUG T1: \" + flow.get('Temp1');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":400,"wires":[["ef662c5c.65398"]]},{"id":"853a738.c5ce09","type":"function","z":"ee7c55d4.f04898","name":"RT2","func":"\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG T2: \" + flow.get('Temp2');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":440,"wires":[["ef662c5c.65398"]]},{"id":"af59a0e9.49862","type":"function","z":"ee7c55d4.f04898","name":"RT3","func":"\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG T3: \" + flow.get('Temp3');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":480,"wires":[["ef662c5c.65398"]]},{"id":"37ea0322.88c49c","type":"function","z":"ee7c55d4.f04898","name":"RH1","func":"\n//Takes a flow variable and prints it out for testing\n\nmsg.payload = \"DEBUG H1: \" + flow.get('Hum1');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":520,"wires":[["ef662c5c.65398"]]},{"id":"98cd7001.6471c","type":"function","z":"ee7c55d4.f04898","name":"RH2","func":"\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG H2: \" + flow.get('Hum2');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":560,"wires":[["ef662c5c.65398"]]},{"id":"1017677f.507069","type":"function","z":"ee7c55d4.f04898","name":"RH3","func":"\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG H3: \" + flow.get('Hum3');\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":600,"wires":[["ef662c5c.65398"]]},{"id":"ef662c5c.65398","type":"debug","z":"ee7c55d4.f04898","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":400,"wires":[]},{"id":"5f687bcc.11e464","type":"comment","z":"ee7c55d4.f04898","name":"BLOCK 1","info":"THIS FLOW TAKES DATA FROM THE DHT SENSORS AND STORES IT IN VARIABLES","x":400,"y":120,"wires":[]},{"id":"9038dfe3.8e44c","type":"comment","z":"ee7c55d4.f04898","name":"BLOCK 2","info":"THIS IS A DEBUGGING SETUP WHICH TELLS YOU IF THE VARIBALES ARE UPDATING","x":400,"y":440,"wires":[]},{"id":"86002c89.81cca","type":"openweathermap","z":"ee7c55d4.f04898","name":"","wtype":"current","lon":"-70.79","lat":"44.4","city":"","country":"","language":"en","x":670,"y":480,"wires":[["c6043c9a.7cab"]]},{"id":"8649cd0c.f79c4","type":"openweathermap in","z":"ee7c55d4.f04898","d":true,"name":"Weather Bethel ME","wtype":"current","lon":"-70.79","lat":"44.4","city":"","country":"","language":"en","x":670,"y":80,"wires":[[]]},{"id":"722fe06.7f5e72","type":"inject","z":"ee7c55d4.f04898","name":"30 Minute Timer","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":true,"onceDelay":"10","x":670,"y":540,"wires":[["86002c89.81cca"]]},{"id":"8fe49c65.89e57","type":"change","z":"ee7c55d4.f04898","name":"TIME","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":80,"wires":[["1d866bf0.a751d4"]]},{"id":"4c03a2ba.095d9c","type":"change","z":"ee7c55d4.f04898","name":"REGIONAL TEMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":120,"wires":[["a888e766.520068"]]},{"id":"c925acb8.5e437","type":"change","z":"ee7c55d4.f04898","name":"REGIONAL HUM","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":160,"wires":[["c5c21173.8bdb3"]]},{"id":"1ee3ca1e.c85976","type":"function","z":"ee7c55d4.f04898","name":"T1 --> File","func":"\n//Sets msg to current temp1 for file writing\nmsg.payload = flow.get('Temp1');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":200,"wires":[["414c5e5a.5b2da"]]},{"id":"e0af8e6e.f256c","type":"function","z":"ee7c55d4.f04898","name":"T2 --> File","func":"\n//Sets msg to current temp2 for file writing\nmsg.payload = flow.get('Temp2');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":240,"wires":[["bd1dea73.6ab028"]]},{"id":"cbb00c6c.2cbdf","type":"function","z":"ee7c55d4.f04898","name":"T3 --> File","func":"\n//Sets msg to current temp3 for file writing\nmsg.payload = flow.get('Temp3');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":280,"wires":[["e987662b.c3d098"]]},{"id":"249b0c1f.e49c34","type":"function","z":"ee7c55d4.f04898","name":"H1 --> File","func":"\n//Sets msg to current hum1 for file writing\nmsg.payload = flow.get('Hum1');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":320,"wires":[["52f2ca0d.7de574"]]},{"id":"879fc0d1.e1ceb","type":"function","z":"ee7c55d4.f04898","name":"H2 --> File","func":"\n//Sets msg to current hum2 for file writing\nmsg.payload = flow.get('Hum2');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":360,"wires":[["eaf4caa3.178188"]]},{"id":"eed5129b.b44ad","type":"function","z":"ee7c55d4.f04898","name":"H3 --> File","func":"\n//Sets msg to current hum3 for file writing\nmsg.payload = flow.get('Hum3');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":400,"wires":[["1585f75b.f1d199"]]},{"id":"1d866bf0.a751d4","type":"file","z":"ee7c55d4.f04898","name":"TimeFile","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\TIME","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":80,"wires":[[]]},{"id":"a888e766.520068","type":"file","z":"ee7c55d4.f04898","name":"RTemp File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\TR","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1190,"y":120,"wires":[[]]},{"id":"c5c21173.8bdb3","type":"file","z":"ee7c55d4.f04898","name":"RHum File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\HR","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1190,"y":160,"wires":[[]]},{"id":"414c5e5a.5b2da","type":"file","z":"ee7c55d4.f04898","name":"T1 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T1","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":200,"wires":[[]]},{"id":"bd1dea73.6ab028","type":"file","z":"ee7c55d4.f04898","name":"T2 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T2","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":240,"wires":[[]]},{"id":"e987662b.c3d098","type":"file","z":"ee7c55d4.f04898","name":"T3 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T3","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":280,"wires":[[]]},{"id":"52f2ca0d.7de574","type":"file","z":"ee7c55d4.f04898","name":"H1 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H1","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":320,"wires":[[]]},{"id":"eaf4caa3.178188","type":"file","z":"ee7c55d4.f04898","name":"H2 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H2","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":360,"wires":[[]]},{"id":"1585f75b.f1d199","type":"file","z":"ee7c55d4.f04898","name":"H3 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H3","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":400,"wires":[[]]},{"id":"b4381198.75551","type":"link in","z":"ee7c55d4.f04898","name":"LINK","links":["a65797a6.4bafc8"],"x":835,"y":80,"wires":[["8fe49c65.89e57","4c03a2ba.095d9c","c925acb8.5e437","1ee3ca1e.c85976","e0af8e6e.f256c","cbb00c6c.2cbdf","249b0c1f.e49c34","879fc0d1.e1ceb","eed5129b.b44ad"]]},{"id":"a65797a6.4bafc8","type":"link out","z":"ee7c55d4.f04898","name":"LINK","links":["b4381198.75551"],"x":795,"y":80,"wires":[]},{"id":"9ac34a76.b09058","type":"comment","z":"ee7c55d4.f04898","name":"BLOCK 3","info":"WRITES DATA TO A FILE WHENEVER WEATHER IS UPDATED","x":680,"y":120,"wires":[]},{"id":"b85009ae.a204e8","type":"change","z":"ee7c55d4.f04898","name":"TIME","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":480,"wires":[["e1c65ae2.6691a8"]]},{"id":"9ff36450.d2f3a8","type":"change","z":"ee7c55d4.f04898","name":"REGIONAL TEMP","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.tempc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":520,"wires":[["a590ab10.46b858"]]},{"id":"9177c96e.17f6f8","type":"change","z":"ee7c55d4.f04898","name":"REGIONAL HUM","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":560,"wires":[["b6eef5e5.b95d18"]]},{"id":"b8ab016c.a6ab6","type":"function","z":"ee7c55d4.f04898","name":"T1 --> File","func":"\n//Sets msg to current temp1 for file writing\nmsg.payload = flow.get('Temp1');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":600,"wires":[["b66bd54a.749888"]]},{"id":"40b450d3.9063d","type":"function","z":"ee7c55d4.f04898","name":"T2 --> File","func":"\n//Sets msg to current temp2 for file writing\nmsg.payload = flow.get('Temp2');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":640,"wires":[["224b8e46.7b1172"]]},{"id":"916e68d3.511c78","type":"function","z":"ee7c55d4.f04898","name":"T3 --> File","func":"\n//Sets msg to current temp3 for file writing\nmsg.payload = flow.get('Temp3');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":680,"wires":[["459c09a4.329558"]]},{"id":"a003a6e4.13e8a8","type":"function","z":"ee7c55d4.f04898","name":"H1 --> File","func":"\n//Sets msg to current hum1 for file writing\nmsg.payload = flow.get('Hum1');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":720,"wires":[["600c4410.57d3dc"]]},{"id":"5342fac5.0b15d4","type":"function","z":"ee7c55d4.f04898","name":"H2 --> File","func":"\n//Sets msg to current hum2 for file writing\nmsg.payload = flow.get('Hum2');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":760,"wires":[["14a8a063.5d559"]]},{"id":"c3a0c462.002318","type":"function","z":"ee7c55d4.f04898","name":"H3 --> File","func":"\n//Sets msg to current hum3 for file writing\nmsg.payload = flow.get('Hum3');\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":800,"wires":[["b9198b9b.c191b8"]]},{"id":"e1c65ae2.6691a8","type":"file","z":"ee7c55d4.f04898","name":"TimeFile","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\TIME","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":480,"wires":[[]]},{"id":"a590ab10.46b858","type":"file","z":"ee7c55d4.f04898","name":"RTemp File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\TR","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1190,"y":520,"wires":[[]]},{"id":"b6eef5e5.b95d18","type":"file","z":"ee7c55d4.f04898","name":"RHum File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\HR","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1190,"y":560,"wires":[[]]},{"id":"b66bd54a.749888","type":"file","z":"ee7c55d4.f04898","name":"T1 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T1","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":600,"wires":[[]]},{"id":"224b8e46.7b1172","type":"file","z":"ee7c55d4.f04898","name":"T2 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T2","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":640,"wires":[[]]},{"id":"459c09a4.329558","type":"file","z":"ee7c55d4.f04898","name":"T3 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\T3","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1170,"y":680,"wires":[[]]},{"id":"600c4410.57d3dc","type":"file","z":"ee7c55d4.f04898","name":"H1 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H1","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":720,"wires":[[]]},{"id":"14a8a063.5d559","type":"file","z":"ee7c55d4.f04898","name":"H2 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H2","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":760,"wires":[[]]},{"id":"b9198b9b.c191b8","type":"file","z":"ee7c55d4.f04898","name":"H3 File","filename":"C:\\Users\\ocean\\Desktop\\DHTDATA\\H3","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1180,"y":800,"wires":[[]]},{"id":"323ca53f.e973ba","type":"link in","z":"ee7c55d4.f04898","name":"LINK","links":["c6043c9a.7cab"],"x":835,"y":480,"wires":[["b85009ae.a204e8","9ff36450.d2f3a8","9177c96e.17f6f8","b8ab016c.a6ab6","40b450d3.9063d","916e68d3.511c78","a003a6e4.13e8a8","5342fac5.0b15d4","c3a0c462.002318"]]},{"id":"c6043c9a.7cab","type":"link out","z":"ee7c55d4.f04898","name":"LINK","links":["323ca53f.e973ba"],"x":795,"y":480,"wires":[]},{"id":"38329aac.e88756","type":"comment","z":"ee7c55d4.f04898","name":"BLOCK 4","info":"WRITES DATA TO A FILE EVERY 30 MINUTES","x":680,"y":600,"wires":[]},{"id":"29a696e0.25dafa","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]