NRDHT.txt
[
    {
        "id": "b7e6acd7.83a5a",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7df340c0.2f81d",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2d44c090.f4173",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "184aed3.7311913",
        "type": "ui_group",
        "z": "",
        "name": "DHT",
        "tab": "2d44c090.f4173",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "13fb0b2e.76ea05",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#00f58b",
                "baseFont": "Copperplate,Copperplate Gothic Light,fantasy",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#640977",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#00f58b",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#00f58b",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#42ffad",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#00f58b",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Copperplate,Copperplate Gothic Light,fantasy"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "9b61fb4b.7e24c8",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "506a065e.c2bb78",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Temp 1",
        "topic": "esp1/dht/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5d6c78c6.1546d8",
                "f3b2a086.33cda"
            ]
        ]
    },
    {
        "id": "30271bb0.275ec4",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Temp 3",
        "topic": "esp3/dht/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "cd105e9c.99994",
                "f3b2a086.33cda"
            ]
        ]
    },
    {
        "id": "5612a86d.68f8b8",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Temp 2",
        "topic": "esp2/dht/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "de4f332c.8ca28",
                "f3b2a086.33cda"
            ]
        ]
    },
    {
        "id": "b296e1a9.942be",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Hum 1",
        "topic": "esp1/dht/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "76ebc8cb.f26df8",
                "1b0c3023.608ca"
            ]
        ]
    },
    {
        "id": "2ac3299d.636136",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Hum 2",
        "topic": "esp2/dht/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "1c83a74f.d45649",
                "1b0c3023.608ca"
            ]
        ]
    },
    {
        "id": "1516171b.720ff9",
        "type": "mqtt in",
        "z": "b7e6acd7.83a5a",
        "name": "Hum 3",
        "topic": "esp3/dht/humidity",
        "qos": "0",
        "datatype": "auto",
        "broker": "9b61fb4b.7e24c8",
        "x": 110,
        "y": 340,
        "wires": [
            [
                "985283e4.dd602",
                "1b0c3023.608ca"
            ]
        ]
    },
    {
        "id": "5d6c78c6.1546d8",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T1",
        "func": "\n//Makes a variable for the flow called Temp1\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp1',msg.payload);\nmsg.payload = \"Temp 1 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "de4f332c.8ca28",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T2",
        "func": "\n//Makes a variable for the flow called Temp2\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp2',msg.payload);\nmsg.payload = \"Temp 2 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "cd105e9c.99994",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T3",
        "func": "\n//Makes a variable for the flow called Temp3\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Temp3',msg.payload);\nmsg.payload = \"Temp 3 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 220,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "76ebc8cb.f26df8",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H1",
        "func": "\n//Makes a variable for the flow called Hum1\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum1',msg.payload);\nmsg.payload = \"Hum 1 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 260,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "1c83a74f.d45649",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H2",
        "func": "\n//Makes a variable for the flow called Hum2\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum2',msg.payload);\nmsg.payload = \"Hum 2 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "985283e4.dd602",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H3",
        "func": "\n//Makes a variable for the flow called Hum3\n//sets it to our incoming message, \n//treat it as a flip flop?\nflow.set('Hum3',msg.payload);\nmsg.payload = \"Hum 3 Updated:\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 340,
        "wires": [
            [
                "debf31bf.5b527"
            ]
        ]
    },
    {
        "id": "9970ba3b.aa48f8",
        "type": "inject",
        "z": "b7e6acd7.83a5a",
        "name": "",
        "topic": "",
        "payload": "Hello",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "f2620f6b.68ec6",
                "a0e76718.d3b7c8",
                "c9a9c336.8f5a9",
                "bea14bb0.2114d8",
                "87be0fe1.e5bb9",
                "4ab386e8.0f0878"
            ]
        ]
    },
    {
        "id": "debf31bf.5b527",
        "type": "debug",
        "z": "b7e6acd7.83a5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 140,
        "wires": []
    },
    {
        "id": "f2620f6b.68ec6",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RT1",
        "func": "\n//Takes a flow variable and prints it out for testing\n\nmsg.payload = \"DEBUG T1: \" + flow.get('Temp1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 480,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "a0e76718.d3b7c8",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RT2",
        "func": "\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG T2: \" + flow.get('Temp2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 520,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "c9a9c336.8f5a9",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RT3",
        "func": "\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG T3: \" + flow.get('Temp3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "bea14bb0.2114d8",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RH1",
        "func": "\n//Takes a flow variable and prints it out for testing\n\nmsg.payload = \"DEBUG H1: \" + flow.get('Hum1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 600,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "87be0fe1.e5bb9",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RH2",
        "func": "\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG H2: \" + flow.get('Hum2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 640,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "4ab386e8.0f0878",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "RH3",
        "func": "\n//Takes a flow variable and prints it out for testing\nmsg.payload = \"DEBUG H3: \" + flow.get('Hum3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "4deb5902.7f81c8"
            ]
        ]
    },
    {
        "id": "4deb5902.7f81c8",
        "type": "debug",
        "z": "b7e6acd7.83a5a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 480,
        "wires": []
    },
    {
        "id": "c184498d.f7a758",
        "type": "comment",
        "z": "b7e6acd7.83a5a",
        "name": "BLOCK 1",
        "info": "THIS FLOW TAKES DATA FROM THE DHT SENSORS AND STORES IT IN VARIABLES",
        "x": 400,
        "y": 180,
        "wires": []
    },
    {
        "id": "85641e12.912d1",
        "type": "comment",
        "z": "b7e6acd7.83a5a",
        "name": "BLOCK 2",
        "info": "THIS IS A DEBUGGING SETUP WHICH TELLS YOU IF THE VARIBALES ARE UPDATING",
        "x": 400,
        "y": 520,
        "wires": []
    },
    {
        "id": "3de498f2.cbf5d8",
        "type": "openweathermap",
        "z": "b7e6acd7.83a5a",
        "name": "",
        "wtype": "current",
        "lon": "-70.79",
        "lat": "44.4",
        "city": "",
        "country": "",
        "language": "en",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "3c8ab8a5.7a23c8"
            ]
        ]
    },
    {
        "id": "53f407d7.95c6e8",
        "type": "openweathermap in",
        "z": "b7e6acd7.83a5a",
        "d": true,
        "name": "Weather Bethel ME",
        "wtype": "current",
        "lon": "-70.79",
        "lat": "44.4",
        "city": "",
        "country": "",
        "language": "en",
        "x": 670,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "24e69696.c796ba",
        "type": "inject",
        "z": "b7e6acd7.83a5a",
        "name": "30 Minute Timer",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1800",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "x": 670,
        "y": 540,
        "wires": [
            [
                "3de498f2.cbf5d8"
            ]
        ]
    },
    {
        "id": "f8fb6b1f.da8848",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "TIME",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "16aee54a.78507b"
            ]
        ]
    },
    {
        "id": "51142f1a.c2651",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "REGIONAL TEMP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 120,
        "wires": [
            [
                "8d97740b.930028"
            ]
        ]
    },
    {
        "id": "54c811fa.f93a2",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "REGIONAL HUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "306bf957.73df56"
            ]
        ]
    },
    {
        "id": "a7a20545.54d0a8",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T1 --> File",
        "func": "\n//Sets msg to current temp1 for file writing\nmsg.payload = flow.get('Temp1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 200,
        "wires": [
            [
                "3d5f6902.0a15e6"
            ]
        ]
    },
    {
        "id": "5a78dd52.cae804",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T2 --> File",
        "func": "\n//Sets msg to current temp2 for file writing\nmsg.payload = flow.get('Temp2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 240,
        "wires": [
            [
                "21371458.e5ce1c"
            ]
        ]
    },
    {
        "id": "6b1a8f2e.1538f",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T3 --> File",
        "func": "\n//Sets msg to current temp3 for file writing\nmsg.payload = flow.get('Temp3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 280,
        "wires": [
            [
                "436fc637.760a08"
            ]
        ]
    },
    {
        "id": "f928f790.9c5188",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H1 --> File",
        "func": "\n//Sets msg to current hum1 for file writing\nmsg.payload = flow.get('Hum1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 320,
        "wires": [
            [
                "cacc61b8.3e18"
            ]
        ]
    },
    {
        "id": "2cc05d7e.b81962",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H2 --> File",
        "func": "\n//Sets msg to current hum2 for file writing\nmsg.payload = flow.get('Hum2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 360,
        "wires": [
            [
                "f7befafc.427428"
            ]
        ]
    },
    {
        "id": "9ea99e96.e4136",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H3 --> File",
        "func": "\n//Sets msg to current hum3 for file writing\nmsg.payload = flow.get('Hum3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "b2a1411f.f4e87"
            ]
        ]
    },
    {
        "id": "16aee54a.78507b",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "TimeFile",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\TIME",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8d97740b.930028",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "RTemp File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\TR",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "306bf957.73df56",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "RHum File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\HR",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "3d5f6902.0a15e6",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T1 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T1",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "21371458.e5ce1c",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T2 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T2",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "436fc637.760a08",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T3 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T3",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cacc61b8.3e18",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H1 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H1",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "f7befafc.427428",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H2 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H2",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "b2a1411f.f4e87",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H3 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H3",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "4cc8bc14.6181e4",
        "type": "link in",
        "z": "b7e6acd7.83a5a",
        "name": "LINK",
        "links": [
            "93c6bedb.cab32"
        ],
        "x": 835,
        "y": 80,
        "wires": [
            [
                "f8fb6b1f.da8848",
                "51142f1a.c2651",
                "54c811fa.f93a2",
                "a7a20545.54d0a8",
                "5a78dd52.cae804",
                "6b1a8f2e.1538f",
                "f928f790.9c5188",
                "2cc05d7e.b81962",
                "9ea99e96.e4136"
            ]
        ]
    },
    {
        "id": "93c6bedb.cab32",
        "type": "link out",
        "z": "b7e6acd7.83a5a",
        "name": "LINK",
        "links": [
            "4cc8bc14.6181e4"
        ],
        "x": 795,
        "y": 80,
        "wires": []
    },
    {
        "id": "303cf9df.34ec66",
        "type": "comment",
        "z": "b7e6acd7.83a5a",
        "name": "BLOCK 3",
        "info": "WRITES DATA TO A FILE WHENEVER WEATHER IS UPDATED",
        "x": 680,
        "y": 120,
        "wires": []
    },
    {
        "id": "e11a1c85.defac",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "TIME",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "time",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 480,
        "wires": [
            [
                "68514b84.213fe4"
            ]
        ]
    },
    {
        "id": "97d6ec8e.48ec",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "REGIONAL TEMP",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tempc",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 520,
        "wires": [
            [
                "c2a50784.6c21e8"
            ]
        ]
    },
    {
        "id": "eb8eef3a.98b9f",
        "type": "change",
        "z": "b7e6acd7.83a5a",
        "name": "REGIONAL HUM",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 560,
        "wires": [
            [
                "241f011e.b2119e"
            ]
        ]
    },
    {
        "id": "ea380d2c.d629",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T1 --> File",
        "func": "\n//Sets msg to current temp1 for file writing\nmsg.payload = flow.get('Temp1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 600,
        "wires": [
            [
                "3eccddb1.ae8412"
            ]
        ]
    },
    {
        "id": "21fbca41.785596",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T2 --> File",
        "func": "\n//Sets msg to current temp2 for file writing\nmsg.payload = flow.get('Temp2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 640,
        "wires": [
            [
                "5e850889.4f2d78"
            ]
        ]
    },
    {
        "id": "8ebca28b.6f437",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "T3 --> File",
        "func": "\n//Sets msg to current temp3 for file writing\nmsg.payload = flow.get('Temp3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 680,
        "wires": [
            [
                "905cf7e0.99c8d8"
            ]
        ]
    },
    {
        "id": "344c5136.e2909e",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H1 --> File",
        "func": "\n//Sets msg to current hum1 for file writing\nmsg.payload = flow.get('Hum1');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 720,
        "wires": [
            [
                "7f180564.04227c"
            ]
        ]
    },
    {
        "id": "c176f8f7.4b3578",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H2 --> File",
        "func": "\n//Sets msg to current hum2 for file writing\nmsg.payload = flow.get('Hum2');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 760,
        "wires": [
            [
                "37a905b2.a3580a"
            ]
        ]
    },
    {
        "id": "68e32f3c.4b157",
        "type": "function",
        "z": "b7e6acd7.83a5a",
        "name": "H3 --> File",
        "func": "\n//Sets msg to current hum3 for file writing\nmsg.payload = flow.get('Hum3');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 970,
        "y": 800,
        "wires": [
            [
                "522f3835.ea0a28"
            ]
        ]
    },
    {
        "id": "68514b84.213fe4",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "TimeFile",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\TIME",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a50784.6c21e8",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "RTemp File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\TR",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "241f011e.b2119e",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "RHum File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\HR",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1190,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3eccddb1.ae8412",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T1 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T1",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "5e850889.4f2d78",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T2 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T2",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "905cf7e0.99c8d8",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "T3 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\T3",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1170,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "7f180564.04227c",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H1 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H1",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "37a905b2.a3580a",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H2 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H2",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "522f3835.ea0a28",
        "type": "file",
        "z": "b7e6acd7.83a5a",
        "name": "H3 File",
        "filename": "C:\\Users\\ocean\\Desktop\\DHTDATA\\H3",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1180,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "3cfee0b3.b4e0e",
        "type": "link in",
        "z": "b7e6acd7.83a5a",
        "name": "LINK",
        "links": [
            "3c8ab8a5.7a23c8"
        ],
        "x": 835,
        "y": 480,
        "wires": [
            [
                "e11a1c85.defac",
                "97d6ec8e.48ec",
                "eb8eef3a.98b9f",
                "ea380d2c.d629",
                "21fbca41.785596",
                "8ebca28b.6f437",
                "344c5136.e2909e",
                "c176f8f7.4b3578",
                "68e32f3c.4b157"
            ]
        ]
    },
    {
        "id": "3c8ab8a5.7a23c8",
        "type": "link out",
        "z": "b7e6acd7.83a5a",
        "name": "LINK",
        "links": [
            "3cfee0b3.b4e0e"
        ],
        "x": 795,
        "y": 480,
        "wires": []
    },
    {
        "id": "a036ff40.e517c",
        "type": "comment",
        "z": "b7e6acd7.83a5a",
        "name": "BLOCK 4",
        "info": "WRITES DATA TO A FILE EVERY 30 MINUTES",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "f3b2a086.33cda",
        "type": "ui_chart",
        "z": "b7e6acd7.83a5a",
        "name": "Temperatures",
        "group": "184aed3.7311913",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temperatures",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10",
        "ymax": "40",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 280,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1b0c3023.608ca",
        "type": "ui_chart",
        "z": "b7e6acd7.83a5a",
        "name": "Humidities",
        "group": "184aed3.7311913",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "true",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 270,
        "y": 400,
        "wires": [
            []
        ]
    }
]
